<h2>How I Built my First Web Application</h2>

<% @pin.each do |pins| %>

	<p>Hour <%= pins.hour %></p>
	<p>
		<h3>What I learned</h3>
		
			<p><%= pins.learned %></p>
		<p><%= image_tag(pins.pin_image_url(:index_pin).to_s, :class => 'index_pin') %> </p>
		
	<h3>How I feel:</h3>
		<p><%= pins.emotion %></p>
	<h4>Actions:</h4>
		<p><%= link_to("Delete", {:action => 'destroy', :id => pins.id}, confirm: "Are you sure you want to delete this Pin?") %>
		<p><%= link_to 'Edit Pin', {:action => 'edit', :id => pins.id}  %></p>
		<p><%= link_to 'Show Pin', {:action => 'show', :id => pins.id}  %></p>

<p><strong>=========</strong></p>

<% end %>


<p><%= link_to("Add Pin", new_pin_path) %></p>


